<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel1">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/validate/bootstrapValidator.js"></script>
		<title>添加模板</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="icon-plus"></i>&nbsp;新建模板 </h3>
				<div th:replace="admin/proveTemplate/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${proveTemplate}" id="dataForm">
				<div class="form-group form-group-lg">
					<input type="text" name="name" th:value="${proveTemplate.name}" class="form-control text-center" id="name" placeholder="请输入模板名称名称，如：贫困证明"/>
				</div>
				<div>
					<textarea></textarea>
				</div>
				<input type="hidden" name="token" value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>
			<script type="text/javascript">
				jQuery(function($) {
					$('#dataForm').bootstrapValidator({
		//		        live: 'disabled',
						message: '验证不通过',
						feedbackIcons: {
							valid: 'glyphicon glyphicon-ok',
							invalid: 'glyphicon glyphicon-remove',
							validating: 'glyphicon glyphicon-refresh'
						},
						fields: {
							name: {
								validators: {
									notEmpty: {
										message: '请输入角色名称'
									}
								}
							}
						}
					});
				});
			</script>
		</div>
	</body>
</html>