<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>组/队列表</title>
    <script type="text/javascript">
        $(function() {
            $(".delete-obj-href").deleteFun();
        });
    </script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="header lighter smaller blue">
        <h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;组/队列表<small>（<span th:text="${#lists.size(datas)}"></span>）</small></h3>
        <div th:replace="admin/team/nav :: content" th:remove="tag"></div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>队名称</th>
                <th>队长姓名</th>
                <th>队长电话</th>
                <th>队长身份证号</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody th:each="obj : ${datas}">
            <tr>
                <td th:text="${obj.name}">名称</td>
                <td th:text="${obj.captainName}">队长姓名</td>
                <td th:text="${obj.captainPhone}">队长电话</td>
                <td th:text="${obj.captainIdentity}">队长身份证号</td>
                <td>
                    <div class="action-buttons">
                        <a class="green auth" sn="TeamController.update" title="修改" th:href="'/admin/team/update/'+${obj.id}">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <a class="delete-obj-href red auth" sn="TeamController.delete"
                           th:title="'此操作不可逆，确定删除【'+${obj.name}+'】吗？'"
                           th:href="'/admin/team/delete/'+${obj.id}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:include="fragments/page :: pager" th:remove="tag"></div>
    </div>
</div>
</body>
</html>