<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="TeamController.list" href="/admin/team/list"><span class="glyphicon glyphicon-th-list"></span>组/队列表</a></li>
                    <li><a class="auth" sn="TeamController.add" href="/admin/team/add"><span class="fa fa-plus"></span>添加组/队信息</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
